@page "/segment/{id:int}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using VVCyberAware.Components.CustomComponents
@using VVCyberAware.Data
@using VVCyberAware.Shared.Models.ApiModels
@using VVCyberAware.Shared.Models.DbModels
@using VVCyberAware.Shared.Models.Services.CategoryService
@using VVCyberAware.Shared.Models.Services.QuestionService
@using VVCyberAware.Shared.Models.Services.SegmentService
@using VVCyberAware.Shared.Models.Services.SubCategoryService
@inject ICategoryService categoryService
@inject ISegmentService segmentService
@inject IQuestionService questionService;
@inject ISubCService subCService;
@rendermode InteractiveServer

@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


@if (segment == null)
{
    <h1>Segment not found!</h1>
}
else
{
    <div class="main-container text-white  ">
        @*<h1 class="text-center">@(segment.Category.Name == null ? "Ingen Kategori" : segment.Category.Name)</h1> *@
        @if(categories != null){
            <h1 class="text-center">@categories.First(c => c.Id == segment.CategoryId).Name</h1>
        }
        else
        {
            <h1 class="text-center">Unknown</h1>
        }

        <div class="segment-container">
        <h1>@segment.Name</h1>

        @if(subCategories != null)
        {
            @foreach(var sub in subCategories.Where(s=>s.SegmentId == segment.Id))
            {
                <h3>@sub.Description</h3>
                @if (questions != null)
                {
                    @foreach (var question in questions.Where(q => q.SubCategoryId == sub.Id).ToList())
                    {
                        <div class="question-box ">
                            <form>
                                <p class="font-weight-bold">@question.QuestionText</p>

                                @for (int i = 0; i < question.Answers.Count(); i++)
                                {
                                    var answer = question.Answers.ElementAt(i);

                                    <div class="form-check">
                                        <input 
                                            class="form-check-input" type="radio" 
                                            id="@($"QuestionRadio_{question.Id}_{i}")" 
                                            name="@($"QuestionRadio_{question.Id}")" 
                                            value="@answer.Key"
                                            @onchange="() => HandleRadioValueChanged(question.Id, answer.Key)">
                                        <label class="form-check-label" for="@($"QuestionRadio_{question.Id}_{i}")">@answer.Key</label>
                                    </div>
                                }
                            </form>
                        </div>
                    }
                }
            }
        }
		<button class="btn btn-primary" @onclick="Submit" disabled="@(!AllQuestionsAnswered)">Submit</button>
          
      </div>
      <div class="d-flex justify-content-center mb-5  ">
      <a href="/home" class="btn btn-danger" >Back</a>
      </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private List<CategoryApiModel>? categories;
    private SegmentApiModel? segment;
    private List<SubCategoryApiModel>? subCategories;
    private List<QuestionApiModel>? questions;
    private Dictionary<int, string> selectedAnswers = new Dictionary<int, string>();
    private List<QuestionApiModel>? subQuestions;
    private bool AllQuestionsAnswered;

    private void HandleRadioValueChanged(int questionId, string selectedAnswer)
    {
        if (selectedAnswers.ContainsKey(questionId))
        {
            selectedAnswers[questionId] = selectedAnswer;
        }
        else
        {
            selectedAnswers.Add(questionId, selectedAnswer);
        }
        AllQuestionsAnswered = AllQuestionsAnsweredCheck();
    }

    private bool AllQuestionsAnsweredCheck()
    {
        List<SubCategoryApiModel> subCategoriesToAnswer = subCategories.Where(s => s.SegmentId == Id).ToList();
        List<QuestionApiModel> questionsToAnswer = new List<QuestionApiModel>();
        foreach (var sub in subCategoriesToAnswer)
        {
            questionsToAnswer.AddRange(questions.Where(q => q.SubCategoryId == sub.Id)); //AddRange can add an entire list to another :D
        }
        foreach (var question in questionsToAnswer)
        {
            if (!selectedAnswers.ContainsKey(question.Id))
            {
                return false;
            }
        }
        return true;
    }

    private void Submit()
    {
        int correctCount = 0;

        foreach (var question in questions)
        {
            var selectedAnswer = selectedAnswers.GetValueOrDefault(question.Id);
            if (selectedAnswer != null && selectedAnswer == GetCorrectAnswer(question.Id))
            {
                correctCount++;
            }
        }

        if (correctCount == questions.Count)
        {
            // All questions are correct
        }
        else
        {
            // One or more questions are wrong
        }
    }

    private string? GetCorrectAnswer(int questionId)
    {
        var questionToCheck = questions.FirstOrDefault(q => q.Id == questionId);
        if(questionToCheck != null)
        {
            foreach (var answer in questionToCheck.Answers)
            {
                if (answer.Value)
                {
                    return answer.Key;
                }
            }
        }
        return null;

    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        categories = await categoryService.GetAllCategoriesAsync();
        segment = await segmentService.GetSegmentByIdAsync(Id);
        subCategories = await subCService.GetSubCategoriesAsync();
        questions = await questionService.GetQuestionsAsync();

    }
}


